:root {
  --bg-primary-dark: #383d5d;
  --bg-primary-light: #edeff4;

  --btn-primary-dark: #838cb8;
  --btn-primary-light: #383d5d;

  --txt-primary-dark: #edeff4;
  --txt-primary-light: #383d5d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-primary-light);
  color: var(--txt-primary-light);
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.heroBGLight {
  background-image: url("../public/heroBGLight.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroBGDark {
  background-image: url("../public/heroBG.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroImageClass {
  border-radius: 20px;
  overflow: hidden;
}

.aboutBGLight {
  background-image: url("../public/aboutBGLight.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutBGDark {
  background-image: url("../public/aboutBGDark.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
